.box-button {
  position: fixed;
  left: 7.8vh;           /* relative to screen width instead of 50px */
  z-index: 9999;
  cursor: pointer;
  border: 0.5vw solid black;      /* relative border size */
  background-color: #555;
  padding-bottom: 2vh;            /* relative padding */
  transition: 0.1s ease-in-out;
  user-select: none;
  width: fit-content;
}

.button {
  background-color: #dddddd;
  border: 0.5vw solid #fff;
  padding: 1vh 2vw;               
}

.button span {
  font-size: 3vw;                 
  letter-spacing: 0.2vw;
  font-weight: 900;
  color: black;
  text-transform: uppercase;
  font-family: 'Satoshi', sans-serif;

}

/* Press effect */
.box-button:active {
  padding-bottom: 0;
  margin-top: 2vh;
  transform: translateY(2vh);
}


