/* Remove default browser spacing */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #f4f5fb;
  font-family: sans-serif;
}

/* Root app wrapper */
.App {
  width: 100vw;
  height: 100vh;
  position: relative;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./assets/Poppins-Bold.ttf') format('truetype');
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}
